div
  my-navbar

  .jumbotron.text-center

    .container

      h1 'Allo, 'Allo!

      p.load
        img(src="assets/images/yeoman.png", alt="I'm Yeoman")
        br
        |Always a pleasure scaffolding your apps.
